.homenav h5 {
    color:#fff;
}


.nav-item {
    margin-left: 48px;
}
.nav-item h5 {
    display: flex;
    text-transform: capitalize;
}
.icon-support {
    margin-right: 4px;
    background-image: url(../images/customer-support\ .png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
}
.nav-item.my-account {
    justify-content: space-around;
    border: 1px solid #ffffff;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    height: 32px;
    width: 60px;
    align-items: center;
}
.icon-bars {
    background-image: url(../images/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 22px;
    height: 22px;
}
.icon-user {
    background-image: url(../images/profile\ .png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 22px;
    height: 22px;
}
.signin {
    margin-top: 16px;
}
.signin h2 {
    text-transform: capitalize;
}
.signinbtn {
    background: #C1721B;
    width: 100%;
    outline: none;
    border-radius: 8px;
    border: 1px solid #C1721B;
    padding: 10px 8px;
    color: #fff;
}